@import 'tailwindcss';
@import 'primevue/resources/themes/aura-light-green/theme.css';
@import 'primeflex/primeflex.css';
@import 'primeicons/primeicons.css';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Tambahkan padding-top di #app agar konten tidak tertutup */
#app {
  padding-top: 70px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }
}
